{% extends 'base.html' %}

{% block head %}
<title>Info about a driver</title>
<style>
th,td {
  border-right: 2px solid black;
}
th {
  border-bottom: 2px solid black;
}
</style>
{% endblock %}

{% block body %}
<h1>Info about a driver</h1>
<table>
    <tr>
        <th>Racer name</th>
        <th>TEAM</th>
        <th>Laps time</th>
    </tr>
    <tr>
        <td>{{ info[abbrs[driver]['name']]['name']|e }}</td>
        <td>{{ info[abbrs[driver]['name']]['team']|e }}</td>
        <td>{{ info[abbrs[driver]['name']]['time']|e }}</td>
    </tr>
</table>
{% endblock %}